@font-face {
  font-family: "Durer";
  src: local("Durer"), url("./fonts/Durer/Durer.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Harmonia Sans Regular";
  src: local("HarmoniaSans"),
    url("./fonts/HarmoniaSans/HarmoniaSansProCyr-Regular.ttf")
      format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Harmonia Sans Light";
  src: local("HarmoniaSans"),
    url("./fonts/HarmoniaSans/HarmoniaSansProCyr-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Harmonia Sans Bold";
  src: local("HarmoniaSans"),
    url("./fonts/HarmoniaSans/HarmoniaSansProCyr-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Suisse International Regular";
  src: local("SuisseInternational"),
    url("./fonts/SuisseInternational/SuisseIntl-Regular.otf") format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "Suisse International Semi Bold";
  src: local("SuisseInternational"),
    url("./fonts/SuisseInternational/SuisseIntl-SemiBold.otf")
      format("opentype");
  font-weight: bold;
}

html {
  --border-width: 2px;
  --color-base-text: 49, 49, 49;
  --color-shadow: 49, 49, 49;
  --content-max-width: 1200px;
  --font-body-family: "Suisse International Regular", sans-serif;
  --font-body-weight: 400;
  --font-small-body-size: 12px;
  --font-body-size: 16px;
  --font-heading-family: "Suisse International Semi Bold", sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 600;
  --font-header-logo-family: "durer", sans-serif;
  --font-header-h1-size-desktop: 52px;
  --font-header-h2-size-desktop: 38px;
  --font-header-h3-size-desktop: 26px;
  --font-header-h4-size-desktop: 16px;
  --font-header-h1-size: 32px;
  --font-header-h2-size: 26px;
  --font-header-h3-size: 20px;
  --font-header-h4-size: 16px;
  --letter-spacing-divider: 50;
  --nav-bar-height: 100px;
  --color-base-text-highlight: 190, 124, 77;
  --color-base-text-inverse: 240, 244, 236;
  --gradient-base-background-1: linear-gradient(
    180deg,
    rgba(240, 244, 236, 1),
    rgba(241, 235, 226, 1) 100%
  );
  --gradient-base-background-2: radial-gradient(
    rgba(255, 229, 229, 1),
    rgba(255, 224, 218, 1) 25%,
    rgba(215, 255, 137, 1) 100%
  );
  --grid-columns: 8;
  --grid-mobile-vertical-spacing: 20px;
  --grid-spacing: 20px;
  --grid-desktop-vertical-spacing: 40px;
  --grid-desktop-horizontal-spacing: 40px;
  --transition-on-hover: cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
  --transition-move: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  --transition-duration-on-hover: 0.2s;
  --grid-item-box-shadow: 5px 5px 10px rgba(46, 42, 57, 0.2);
  --grid-item-hover-box-shadow: 7px 7px 13px rgba(46, 42, 57, 0.15);
  --cart-header-height: 50px;
  --cart-footer-height: 230px;
  --cart-table-header-height: 30px;
  --cart-desktop-padding: 40px;
  --header-height: 100px;
  --page-margin: 20px;
  --page-desktop-margin: 50px;
  --page-max-width: 1200px;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  min-height: 100vh;
}

.body__no-scroll {
  overflow-y: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-heading-family);
}

h1 {
  font-size: var(--font-header-h1-size);
}

h2 {
  font-size: var(--font-header-h2-size);
}

h3 {
  font-size: var(--font-header-h3-size);
}

h4 {
  font-size: var(--font-header-h4-size);
}

h5 {
  font-size: var(--font-header-h5-size);
}

h6 {
  font-size: var(--font-header-h6-size);
}

p {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
}

.body__no-scroll .NavBar__wrapper,
.body__no-scroll .Homepage,
.body__no-scroll .Cart__content-wrapper,
.body__no-scroll .Cart__footer {
  padding-right: 35px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: var(--font-header-h1-size-desktop);
  }

  h2 {
    font-size: var(--font-header-h2-size-desktop);
  }

  h3 {
    font-size: var(--font-header-h3-size-desktop);
  }

  h4 {
    font-size: var(--font-header-h4-size-desktop);
  }

  h5 {
    font-size: var(--font-header-h5-size-desktop);
  }

  h6 {
    font-size: var(--font-header-h6-size-desktop);
  }

  .body__no-scroll .NavBar__wrapper,
  .body__no-scroll .Homepage,
  .body__no-scroll .Cart__content-wrapper,
  .body__no-scroll .Cart__footer {
    max-width: calc(var(--page-max-width) + 15px);
    padding-right: 65px;
  }
}
