.Cart {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  transform: translate3d(0, 100vh, 0);
  visibility: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0px 0px;
  transform: translateX(100%) !important;
  transition: transform var(--transition-move);
}

.Cart--visible {
  transform: translateX(0%) !important;
}

.Cart__underlay {
  background: rgb(0, 0, 0);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  display: none;
  transition: opacity var(--transition-move);
}

.Cart__underlay--visible {
  opacity: 0.5;
}

.Cart__underlay--displaying {
  display: block;
}

.Cart--active {
  visibility: inherit;
  transform: translateZ(0);
  overflow-y: hidden;
}

.Cart__table-body {
  list-style: none;
  width: 100%;
  display: block;
  height: calc(
    100vh - var(--cart-header-height) - var(--cart-mobile-padding) -
      var(--cart-footer-height)
  );
  overflow-y: auto;
}

.Cart__header {
  height: var(--cart-header-height);
  padding: 0 var(--cart-mobile-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Cart__header-text-cart-count {
  font-weight: 300;
}

.Cart__hr {
  color: black;
  width: 100%;
  opacity: 0.5;
}

.Cart th {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4b4b4b;
}

.Cart_table-header-cell-quantity {
  display: none;
}

.Cart__table {
  display: block;
  width: 100%;
}

.Cart_table-header {
  width: 100%;
  display: block;
  height: var(--cart-table-header-height);
  visibility: hidden;
  height: 0px;
}

.Cart_table-header tr {
  display: flex;
  justify-content: space-between;
}

.Cart__footer hr {
  margin-block-start: var(--cart-mobile-padding);
}

.Cart__footer {
  position: absolute;
  position: -webkit-absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: calc(var(--cart-mobile-padding) * 2) var(--cart-mobile-padding);
  padding-top: 0px;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  z-index: 100;
  height: var(--cart-footer-height);
}

.Cart__footer-subtotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cart__footer-subtotal-price {
  margin-left: 20px;
  letter-spacing: 0.5px;
  color: #4b4b4b;
  font-weight: 600;
}

.Cart__footer-tax-shipping-note {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #4b4b4b;
}

.Cart__footer-checkout {
  text-decoration: none;
}

.Cart__footer-checkout-button {
  width: 100%;
  border: 2px solid rgb(var(--color-base-text));
  background-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-text-inverse));
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  transition: var(--transition-on-hover);
}

.Cart__footer-checkout-button:hover {
  color: rgb(var(--color-base-text));
  background-color: transparent;
}

.Cart__footer-checkout-button span {
  height: fit-content;
  font-size: 18px;
}

.Cart__hr--header {
  margin: 0 var(--cart-mobile-padding);
  width: calc(100% - (2 * var(--cart-mobile-padding)));
  margin-bottom: var(--cart-mobile-padding);
}

.CartCloseIcon__wrapper svg {
  -webkit-transition: fill var(--transition-on-hover);
  -moz-transition: fill var(--transition-on-hover);
  -o-transition: fill var(--transition-on-hover);
  transition: fill var(--transition-on-hover);
  fill: rgb(var(--color-base-text));
}

.CartCloseIcon__wrapper:hover svg {
  fill: rgb(var(--color-base-text-highlight));
}

@media only screen and (min-width: 769px) {
  .Cart {
    width: 50%;
  }

  .Cart_table-header-cell-quantity {
    display: table-cell;
  }
}
