.Cart {
  position: fixed;
  z-index: 1001;
  top: 100px;
  bottom: 0;
  right: 0;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  transform: translate3d(0, 100vh, 0);
  visibility: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0px 0px;
  transform: translateX(100%) !important;
  transition: transform var(--transition-move);
}

.Cart--visible {
  transform: translateX(0%) !important;
}

.Cart__underlay {
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
  display: none;
  transition: var(--transition-move);
  transform: translateX(100%) !important;
  transition: transform var(--transition-move);
}

.Cart__underlay--visible {
  /* opacity: 0.5; */
  transform: translateX(0%) !important;
}

.Cart__underlay--displaying {
  display: block;
}

.Cart--active {
  visibility: inherit;
  transform: translateZ(0);
  overflow-y: hidden;
}

.Cart__table-body {
  list-style: none;
  width: 100%;
  display: flex;

  gap: calc(var(--cart-mobile-padding) * 2);
  flex-direction: column;
  height: calc(100vh - var(--header-height) - 50px - var(--cart-footer-height));
  overflow-y: auto;
}

.Cart__header {
  height: var(--cart-header-height);
  padding: 0 var(--cart-mobile-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Cart__header-text-cart-count {
  font-weight: 300;
}

.Cart__hr {
  color: black;
  width: 100%;
  opacity: 0.5;
}

.Cart th {
  text-align: left;
  font-size: var(--font-heading-size);
  letter-spacing: 0.5px;
  /* text-transform: uppercase; */
  color: var(--color-base-text);
  font-family: var(--font-heading-family);
}

.Cart_table-header-cell-quantity {
  display: none;
}

.Cart__table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Cart_table-header {
  width: 100%;
  display: block;
  height: var(--cart-table-header-height);
  /* visibility: hidden; */
}

.Cart_table-header tr {
  display: flex;
  justify-content: space-between;
}

.Cart__footer hr {
  margin-block-start: var(--cart-mobile-padding);
}

.Cart__footer {
  position: absolute;
  position: -webkit-absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: calc(var(--cart-mobile-padding) * 2) var(--cart-mobile-padding);
  padding-top: 0px;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  z-index: 100;
  height: var(--cart-footer-height);
}

.Cart__footer-subtotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cart__footer-subtotal-price {
  margin-left: var(--cart-mobile-padding);
  font-size: var(--font-heading-size-large);
  letter-spacing: 0.5px;
  color: rgb(var(--color-base-text));
  font-weight: 600;
}

.Cart__footer-tax-shipping-note {
  text-align: center;
  margin-top: 10px;
  /* font-weight: 600; */
  color: rgb(var(--color-base-text));
}

.Cart__footer-checkout {
  text-decoration: none;
  margin-top: auto;
}

.Cart__footer-checkout-button {
  width: 100%;
  border: 2px solid rgb(var(--color-base-text));
  background-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-text-inverse));
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  transition: var(--transition-on-hover);
}

.Cart__footer-checkout-button:hover {
  color: rgb(var(--color-base-text));
  background-color: transparent;
}

.Cart__footer-checkout-button span {
  height: fit-content;
  font-size: 18px;
}

.Cart__hr--header {
  margin: 0 var(--cart-mobile-padding);
  width: calc(100% - (2 * var(--cart-mobile-padding)));
  margin-bottom: var(--cart-mobile-padding);
}

.CartCloseIcon__wrapper svg {
  -webkit-transition: fill var(--transition-on-hover);
  -moz-transition: fill var(--transition-on-hover);
  -o-transition: fill var(--transition-on-hover);
  transition: fill var(--transition-on-hover);
  fill: rgb(var(--color-base-text));
}

.CartCloseIcon__wrapper:hover svg {
  fill: rgb(var(--color-base-text-highlight));
}

th.Cart_table-header-cell-item {
  width: 66.6666%;
}

th.Cart_table-header-cell-quantity,
th.Cart_table-header-cell-total {
  width: 16.6666%;
  text-align: right;
}

.Cart_table-header {
  padding-bottom: 10px;
  border-bottom: 2px rgb(var(--color-base-text)) solid;
  height: 50px;
}

.Cart__content-wrapper,
.Cart__footer {
  padding: 0px calc(var(--grid-desktop-horizontal-spacing) / 2);
  width: 100%;
}

.Cart__footer-content-wrapper {
  border-top: 2px rgb(var(--color-base-text)) solid;
  padding-top: calc(var(--grid-desktop-horizontal-spacing) / 2);
  width: 100%;
  height: 100%;
  padding-bottom: calc(var(--grid-desktop-horizontal-spacing));
}

.Cart__footer-subtotal-header {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media only screen and (min-width: 769px) {
  .Cart__content-wrapper,
  .Cart__footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .Cart__footer-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .Cart__footer-subtotal {
    justify-content: space-between;
  }

  .Cart__footer-tax-shipping-note {
    text-align: right;
  }
  .Cart__footer-checkout-button {
    max-width: 400px;
    margin-left: auto;
  }

  .Cart_table-header-cell-quantity {
    display: table-cell;
  }

  .Cart__header {
    padding: 0px calc(var(--grid-desktop-horizontal-spacing) / 2);
    max-width: 1200px;
    margin: auto;
  }

  .Cart__hr--header {
    max-width: calc(1200px - var(--grid-desktop-horizontal-spacing));
    margin-left: auto;
    margin-right: auto;
  }
  .Cart__table {
    /* max-width: calc(1200px); */
    /* padding: 0px calc(var(--grid-desktop-horizontal-spacing) / 2); */
    margin: auto;
  }
}
