.Cart {
  position: fixed;
  z-index: var(--z-index-cart);
  top: var(--header-height);
  bottom: 0;
  right: 0;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  transform: translate3d(0, 100vh, 0);
  visibility: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  transform: translateX(100%) !important;
  transition: transform var(--transition-move);
}

.Cart--visible {
  transform: translateX(0%) !important;
}

.Cart__underlay {
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  cursor: pointer;
  z-index: var(--z-index-cart-underlay);
  opacity: 1;
  display: none;
  transition: var(--transition-move);
  transform: translateX(100%) !important;
  transition: transform var(--transition-move);
}

.Cart__underlay--visible {
  transform: translateX(0%) !important;
}

.Cart__underlay--displaying {
  display: block;
}

.Cart--active {
  visibility: inherit;
  transform: translateZ(0);
  overflow-y: hidden;
}

.Cart__content-wrapper,
.Cart__footer {
  padding: 0px var(--page-margin);
  width: 100%;
}

.CartLineItem__quantity-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: calc(var(--grid-spacing) / 2);
}

@media only screen and (min-width: 769px) {
  .Cart__content-wrapper {
    width: 100%;
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--page-desktop-margin);
  }
}
