.Footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  z-index: 0;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
}

.Footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
}

.Footer__icons-wrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer__social-link {
  color: inherit;
  margin: 0 5px;
}

Footer__social-link .Footer__social-link svg {
  -webkit-transition: fill var(--transition-on-hover);
  -moz-transition: fill var(--transition-on-hover);
  -o-transition: fill var(--transition-on-hover);
  transition: fill var(--transition-on-hover);
  fill: rgb(var(--color-base-text));
}

.Footer__social-link:hover svg {
  fill: rgb(var(--color-base-text-highlight));
}
