.ProductGrid {
  padding-top: 100px;
  margin-bottom: 100px;
  z-index: 10;
  background-attachment: fixed;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: var(--grid-mobile-vertical-spacing);
  grid-column-gap: var(--grid-mobile-horizontal-spacing);
}

.ProductGrid__column {
  width: 50%;
}

.ProductGrid__column:first-child {
  padding-right: calc(var(--grid-desktop-horizontal-spacing) / 2);
}

.ProductGrid__column:last-child {
  padding-left: calc(var(--grid-desktop-horizontal-spacing) / 2);
}

.ProductGrid__column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 769px) {
  .ProductGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: var(--grid-desktop-vertical-spacing);
    grid-column-gap: var(--grid-desktop-horizontal-spacing);
  }
}
