.ProductGrid {
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  position: relative;
  width: 100vw;
  overflow: hidden;
  max-width: 1200px;
}

.ProductGrid__column {
  display: grid;
}

.ProductGrid__column-wrapper {
  display: grid;
}

@media only screen and (min-width: 769px) {
  .ProductGrid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 769px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .ProductGrid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }
}
