.Homepage {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
}

@media only screen and (min-width: 769px) {
  .Homepage {
  }
}
