.ProductPage__image {
  width: 100%;
}

.ProductPage {
  padding-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 15px;
  padding-right: 15px;

  flex-direction: column;
  padding-bottom: 50px;
}

.ProductPage__details-row:first-child h2 {
  margin-block-start: 0;
}

.ProductPage__details {
  padding: 20px 0;
}

.ProductPage__details-row {
  display: flex;
}

@media only screen and (min-width: 769px) {
  .ProductPage {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: var(--grid-desktop-vertical-spacing);
    grid-column-gap: var(--grid-desktop-horizontal-spacing);
  }
}
