.CartIcon {
  display: flex;
  align-items: center;
  margin: auto;
  margin-right: 0px;
  justify-content: flex-end;
}

.CartIcon--unclickable {
  pointer-events: none;
}

.CartIcon__wrapper {
  cursor: pointer;
}

.CartIcon__word {
  color: rgb(var(--color-base-text-inverse));
  font-family: var(--font-body-family);
  font-size: var(--font-header-h3-size);
  text-align: right;
}

.CartIcon {
  width: calc(2 * (100% / var(--grid-columns)));
}

@media only screen and (min-width: 769px) {
  .CartIcon__word {
    font-size: var(--font-header-h3-size-desktop);
  }
  .CartIcon {
    width: calc(100% / var(--grid-columns));
  }
}
