.CartLineItem {
  list-style: inherit;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: none;
  gap: calc(var(--grid-spacing) / 2);
  opacity: 0;
  transform: translate3d(0px, 40px, 0px);
  transition: var(--transition-move);
}

.CartLineItem__li--visible {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.CartLineItem:first-child {
  margin-top: calc(var(--grid-spacing) * 2);
}

.CartLineItem:last-child {
  margin-bottom: calc(var(--grid-spacing) * 2);
}

.CartLineItem__total-wrapper {
  text-align: right;
}

.CartLineItemDetails__product-title,
.CartLineItemDetails__product-price,
.CartLineItemDetails__product-variant-option,
.CartLineItem__total-wrapper {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  margin-bottom: calc(var(--grid-spacing) / 4);
  color: var(--color-base-text);
}

.CartLineItem__product-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  gap: calc(var(--grid-spacing));
}

@media only screen and (min-width: 769px) {
  .CartLineItem {
    grid-template-columns: 6fr 1fr 1fr;
  }
}
