.CartIcon {
  display: flex;
  align-items: center;
  margin: auto;
  height: 50px;
  margin-right: 0px;
}

.CartIcon--unclickable {
  pointer-events: none;
}

.CartIcon__wrapper {
  cursor: pointer;
}

.CartIcon svg {
  height: 32px;
  width: 32px;
}
