.LoadingSpinner--not-ready {
  display: none;
}

.LoadingSpinner__wrapper {
  position: absolute;
  pointer-events: none;
}

.LoadingSpinner__line {
  width: 200px;
  height: 20px;
  background-color: inherit;
  position: absolute;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-duration: 10000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-duration: 10000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.LoadingSpinner__line--first {
  -webkit-animation-name: spin2;
  -moz-animation-name: spin2;
  -ms-animation-name: spin2;
  animation-name: spin2;
}

.LoadingSpinner__line--second {
  -webkit-animation-name: spin3;
  -moz-animation-name: spin3;
  -ms-animation-name: spin3;
  animation-name: spin3;
}

.LoadingSpinner__line--third {
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -ms-animation-name: spin;
  animation-name: spin;
}

.LoadingSpinner__wrapper-2 .LoadingSpinner__line--third,
.LoadingSpinner__wrapper-2 .LoadingSpinner__line--second,
.LoadingSpinner__wrapper-2 .LoadingSpinner__line--first {
  -webkit-animation-duration: 12500ms;
  -moz-animation-duration: 12500ms;
  -ms-animation-duration: 12500ms;
  animation-duration: 12500ms;
}

.LoadingSpinner__wrapper-3 .LoadingSpinner__line--third,
.LoadingSpinner__wrapper-3 .LoadingSpinner__line--second,
.LoadingSpinner__wrapper-3 .LoadingSpinner__line--first {
  -webkit-animation-duration: 5000ms;
  -moz-animation-duration: 5000ms;
  -ms-animation-duration: 5000ms;
  animation-duration: 5000ms;
}

.NavBar__wrapper ~ .LoadingSpinner .LoadingSpinner__wrapper,
.NavBar__wrapper ~ .LoadingSpinner .LoadingSpinner__inner-wrapper {
  mix-blend-mode: difference;
  background: rgb(var(--color-base-text-inverse));
  display: flex;
  transition: background var(--transition-on-hover);
}

.NavBar__wrapper ~ .LoadingSpinner .LoadingSpinner__wrapper-not-visible {
  background: rgb(var(--font-base-text));
}

.NavBar__wrapper ~ .LoadingSpinner .LoadingSpinner__wrapper--not-displaying {
  display: none;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin2 {
  from {
    -ms-transform: rotate(-120deg);
  }
  to {
    -ms-transform: rotate(240deg);
  }
}

@-moz-keyframes spin2 {
  from {
    -moz-transform: rotate(-120deg);
  }
  to {
    -moz-transform: rotate(240deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(-120deg);
  }
  to {
    -webkit-transform: rotate(240deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(-120deg);
  }
  to {
    transform: rotate(240deg);
  }
}

@-ms-keyframes spin3 {
  from {
    -ms-transform: rotate(-240deg);
  }
  to {
    -ms-transform: rotate(120deg);
  }
}

@-moz-keyframes spin3 {
  from {
    -moz-transform: rotate(-240deg);
  }
  to {
    -moz-transform: rotate(120deg);
  }
}

@-webkit-keyframes spin3 {
  from {
    -webkit-transform: rotate(-240deg);
  }
  to {
    -webkit-transform: rotate(120deg);
  }
}

@keyframes spin3 {
  from {
    transform: rotate(-240deg);
  }
  to {
    transform: rotate(120deg);
  }
}

@media only screen and (min-width: 769px) {
  .LoadingSpinner__line {
    width: 500px;
    height: 50px;
  }
}
