.NavLogo {
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavLogo__link {
  text-decoration: none;
  color: inherit;
}

.NavLogo__text {
  font-family: var(--font-header-logo-family);
  font-style: var(--font-header-logo-style);
  font-weight: var(--font-header-logo-weight);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--color-base-text-inverse));
  transition: color var(--transition-on-hover);
}

.NavLogo__text:hover {
  /* color: rgb(var(--color-base-text-highlight)); */
}
