.NavLogo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavLogo__link {
  padding: 0 var(--page-margin);
}

.NavLogo__text {
  font-family: var(--font-header-logo-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  font-size: var(--font-header-h1-size);
  letter-spacing: calc(var(--font-header-h1-size) / 50);
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--color-base-text-inverse));
}

@media only screen and (min-width: 769px) {
  .NavLogo__text {
    font-size: var(--font-header-h1-size-desktop);
    letter-spacing: calc(var(--font-header-h1-size-desktop) / 50);
  }
}
