.NavMenu__li {
  list-style: inherit;
  opacity: 0;
  transform: translate3d(0px, 40px, 0px);
  transition: var(--transition-move);
}

.NavMenu__li--visible {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.NavMenu__li-button {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: none;
  margin-bottom: var(--grid-spacing);
  flex-direction: column;
  letter-spacing: 2px;
  opacity: 1;
  transform: translateZ(0);
  max-width: 260px;
}

.NavMenu__li-title {
  margin-bottom: 0;
  text-align: center;
  font-family: var(--font-heading-family);
  font-size: var(--font-header-h2-size);
  letter-spacing: calc(var(--font-header-h2-size) / 50);
}

.NavMenu__li-title-span {
  letter-spacing: inherit;
  font-size: inherit;
  text-align: center;
  transition: var(--transition-on-hover);
  color: rgb(var(--color-base-text));
}
