.NavMenuIcon {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 0px;
  width: calc(2 * (100% / var(--grid-columns)));
}

.NavMenuIcon__wrapper {
  position: relative;
  cursor: pointer;
}

.NavMenuIcon__wrapper--unclickable {
  pointer-events: none;
}

.NavMenuIcon__word {
  color: rgb(var(--color-base-text-inverse));
  font-family: var(--font-body-family);
  font-size: var(--font-header-h3-size);
}

@media only screen and (min-width: 769px) {
  .NavMenuIcon__word {
    font-size: var(--font-header-h3-size-desktop);
  }
  .NavMenuIcon {
    width: calc(100% / var(--grid-columns));
  }
}
