.ProductGridItem__image {
  width: 100%;
  display: block;
}

.ProductGridItem {
  box-shadow: var(--card-shadow-horizontal-offset)
    var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius)
    rgba(var(--color-shadow), var(--card-shadow-opacity));
  border-radius: var(--card-corner-radius);
  background-color: rgb(var(--color-base-background-1));
  margin-bottom: var(--grid-desktop-horizontal-spacing);
}

.ProductGridItem:last-child {
  margin-bottom: 0px;
}

.ProductGridItem__caption {
  color: black;
}

.ProductGridItem__link {
  text-decoration: none;
  color: inherit;
}

.ProductGridItem__title-wrapper {
  display: none;
}

.ProductGridItem__caption {
  display: block;
}

.ProductGridItem__content-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.ProductGridItem__details-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductGridItem__title {
  font-family: var(--font-heading-family);
  margin-bottom: 10px;
}

.ProductGridItem__price {
  font-family: var(--font-body-family);
}
