.ProductGridItemImage__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: calc(var(--grid-spacing));
  justify-content: center;
  align-items: center;
}

.ProductGridItemImage {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.ProductGridItemImage__placeholder {
  position: absolute;
}

.ProductGridItemImage__image {
  /* box-shadow: var(--grid-item-box-shadow); */
  transition: var(--transition-on-hover);
  position: absolute;
  top: 0;
  left: 0;
  transform: scale3d(1.1, 1.1, 1.1);
}

.ProductGridItemImage__image:hover {
  transform: scale3d(1, 1, 1);
}

.ProductGridItemImage__image--set-max-height {
  max-height: 100%;
  height: 100%;
}

.ProductGridItemImage__image--set-max-width {
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .ProductGridItemImage__wrapper {
    padding: calc(var(--grid-spacing));
  }

  .ProductGrid__column-wrapper:first-child .ProductGridItemImage__wrapper {
    padding-left: 0;
  }
  .ProductGrid__column-wrapper:last-child .ProductGridItemImage__wrapper {
    padding-right: 0;
  }
}

.ProductGridItemImage__sub-wrapper {
  height: fit-content;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ProductGridItemImage__sub-wrapper--set-max-height {
  padding-bottom: 100%;
  width: 100%;
}

.ProductGridItemImage__sub-wrapper--set-max-width {
  width: 100%;
  padding-bottom: 100%;
}
