.ProductGridItem__image {
  width: 100%;
  display: block;
}

.ProductGridItem {
  height: 100%;
}

.ProductGridItem__caption {
  color: black;
}

.ProductGridItem__link {
  text-decoration: none;
  color: inherit;
}

.ProductGridItem__title-wrapper {
  display: none;
}

.ProductGridItem__caption {
  display: block;
}

.ProductGridItem__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.ProductGridItem__details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  justify-content: space-between;
}
.ProductGridItem__details-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.ProductGridItem__title {
  font-family: var(--font-body-family);
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.ProductGridItem__price {
  font-family: var(--font-body-family);
}

.ProductGridItem__view-button {
  color: rgb(var(--color-base-text));
  background-color: transparent;
  border: 2px solid rgb(var(--color-base-text));
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 20px;
  transition: var(--transition-on-hover);
}

.ProductGridItem__view-button:hover {
  color: rgb(var(--color-base-text-inverse));
  background-color: rgb(var(--color-base-text));
}

.ProductGridItem__view-button-text {
  margin-block-start: auto;
  margin-block-end: auto;
}
