.QuickAddToCart {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 2px solid #313131;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.QuickAddToCart:hover {
  background: #313131;
  color: white;
  transition-timing-function: ease-in;
  transition: 0.5s;
}
